{{define "content"}}
<h1>Containers</h1>
<div class="table-wrap">
<table>
    <thead>
        <tr>
            <th>Names</th>
            <th>Container ID</th>
            <th>Image</th>
            <th>Created</th>
            <th>Status</th>
            <th>Ports</th>
        </tr>
    </thead>
    <tbody>
        {{range .Containers}}
        <tr>
            <td><a href="{{basePath}}/container/{{.ID}}">{{firstName .Names}}</a></td>
            <td class="mono"><a href="{{basePath}}/container/{{.ID}}">{{shortID .ID}}</a></td>
            <td class="mono"><a href="{{basePath}}/image/{{.ImageID}}">{{.Image}}</a></td>
            <td>{{formatTime .Created}}</td>
            <td><span class="badge badge-{{.State}}">{{.State}}</span></td>
            <td class="mono">{{if .Ports}}{{formatPorts .Ports}}{{else}}{{formatExposedPorts .ExposedPorts}}{{end}}</td>
        </tr>
        {{else}}
        <tr><td colspan="6" class="empty">No containers found.</td></tr>
        {{end}}
    </tbody>
</table>
</div>
{{end}}
